################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/solutionApi/.vs
/solutionApi/projectApi/obj
/solutionApi/projectApi/bin
